In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import os
from os import system

system('cls')

0

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"

response = requests.get(url)

# print(response.status_code)

soup = BeautifulSoup(response.text, 'html.parser')

In [3]:
tables = soup.find_all('table', class_ = 'wikitable sortable')[0]

# print("Total tables found:", len(tables))
# print("Table 0:",tables)

titles = [title.text.strip() for title in tables.find_all('th')]

# print("Titles:", titles)

df = pd.DataFrame(columns = titles)
df

Empty DataFrame
Columns: [Rank, Name, Headquarters, Revenue, Operating income, Net income, Total assets, Total equity, Industry]
Index: []