In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd
import os
from os import system

system('cls')

0

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_largest_companies_in_the_United_States_by_revenue"

response = requests.get(url)

# print(response.status_code)

soup = BeautifulSoup(response.text, 'html.parser')

In [3]:
tables = soup.find_all('table', class_ = 'wikitable sortable')[0]

# print("Total tables found:", len(tables))
# print("Table 0:",tables)

titles = [title.text.strip() for title in tables.find_all('th')]

# print("Titles:", titles)

df = pd.DataFrame(columns = titles)
df

Empty DataFrame
Columns: [Rank, Name, Headquarters, Revenue, Operating income, Net income, Total assets, Total equity, Industry]
Index: []

In [4]:
row = tables.find_all('tr')
for r in row[1:]:
    data = r.find_all('td')
    if len(data) == 0:
        continue
    data = [d.text.strip() for d in data]
    df.loc[len(df)] = data
df

,Rank,Name,Headquarters,Revenue,Operating income,Net income,Total assets,Total equity,Industry
0,1,Walmart,"Bentonville, Arkansas",$680.99 billion (2025),$29.348 billion (2025),$19.436 billion (2025),$260.82 billion (2025),$97.421 billion (2025),Retail
1,2,Amazon,"Seattle, Washington",$637.9 billion (2024),$68.59 billion (2024),$59.25 billion (2024),$624.9 billion (2024),$285.9 billion (2024),"E-commerce, Cloud Computing"
2,3,Apple,"Cupertino, California",$391 billion (FY24),$123 billion (FY24),-$94 billion (FY24),$365 billion (FY24),-$57 billion (FY24),"Consumer Electronics, Technology"
3,4,UnitedHealth Group,"Minnetonka, Minnesota",$400.3 billion (2024),-$32.29 billion (2024),-$15.24 billion (2024),$298.3 billion (2024),$98.27 billion (2024),Healthcare
4,5,Berkshire Hathaway,"Omaha, Nebraska",$371.4 billion (2024),-$110.4 billion (2024),-$88.99 billion (2024),$1.154 trillion (2024),$651.7 billion (2024),Conglomerate